*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}



:root{
    --section-height: 500px;
    --section-width: 100%;
}

/* Barra de navegación */

header{
  width: 100%;
}

.navbar{
    padding: 2rem;
}

nav.navbar{
    background: linear-gradient(#1f1c37,#2E294E) ;
}

.navbar-toggler{
    background-color: #3a3462;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.nav-link{
    color: white;
    margin-right: 10px;
}

.nav-link:hover{
    color: #E09F3E;
}

.background-contact{
    background-color: #F46036;
    padding: 5px;
    border-radius: 20px;
}

/* Banner */

 #banner{
    width: 100%;
    max-height: 540px;
    background-image: url(../img/fondo\ del\ banner.jpg);
    background-size: cover;
    background-position: center; 
} 

/* Categorías */

#categorias{
    width: 100%;
    min-height: 450px;
    padding-bottom: 100px;
}
 
.title-section{
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #302F2F;
    padding: 50px;
}

.category{
    background-color: #A9A9A9;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.category-list{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.category h3{
    margin-top: 60px;
    text-align: center;
    font-size:1.1rem ;
    font-weight: bold;
}

.category:hover{
    background-color: #1B998B;
    transform: scale(1.2);
}

.category img{
    width: 60%;
    height: 60%;
    position: relative;
    left: 20%;
    top: 20%;
} 

/* Productos destacados */

#productos{
    width: 100%;
    height: 1100px;
    background-color: #eee;
}

/* Cards */

.pd{
    display: flex;
    justify-content: center;
}

.card{
    background-color:#fff;
    width: 280px;
    height: 380px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
    border-radius: 20px;            
}

.card-header{  
    width: 280px;
    height: 260px;          
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
}

.card-header img{
    width: 100%;
}

 .card-body{
    background-color: #d9d9d9;
    width: 100%;
    height: 80px;
    padding: 20px;
    border-radius: 00px 00px 20px 20px;
    text-align: center;
} 
 
.card-body h3{
    margin-bottom: 5px;
}

.card-btn{
    width: 160px;
    height: 40px;
    background-color: #1B998B;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: none;
    color: #fff;
    font-size: 24px;
}

.card:hover{
    transform: scale(1.05);
}

.card-btn:hover{
    background-color: #F46036;
}


/* Sección de información */

#informacion{
    width: 100%;
    height: 800px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-info{
    background-color: #fff;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

.info-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.title-info{
    background-color: #F46036;
    width: 350px;
    height: 60px;
    border-radius: 50px 0px 50px 50px;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}

.slogan-info{
    font-size: 2.5rem;
    color: #302F2F;
}

.info-info{
    display: block;
    font-size: 18px;
    margin: 0 auto;
}

.image-info-section{
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-section img{
    height: 350px;
    border-radius: 50px;
    padding: 20px;
   }

.info-info li{
    text-align: start;
    list-style: disc;
}

.a-info{
    width: 450px;
    height: 60px;
    background-color: #1B998B;
    border-radius: 50px 50px 50px 0px;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}

.a-info a{
    text-decoration: none;
    color: white;
}

.a-info:hover{
    background-color: #198276;
    transform: scale(1.05);
} 

/* Modos de pago */


#modosdepago{
    width: 100%;
    height: 600px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    background-color: #fff;
}

.container-modosdepago{
    width: 100%;
    height: 400px;
    background-color: #fff;
}

.modo{
    width: 200px;
    height: 200px;
}

.modo img{
    width: 100%;
    height: 100%;
}

.modo h3{
    font-size: 2rem;
    text-align: center;
} 

/* Footer */
 
#contacto{
    width: 100%;
    min-height: 1200px;
    background: linear-gradient(#fff,#A9A9A9 95%);
    box-shadow: 5px 3px 7px 10px #a9a9a9;
}

.container-contact{
    width: 100%;
    height: 600px;
    background-color: #eee;
    box-shadow: 10px 10px 20px #A9A9A9;
    display: flex;
    flex-direction: row;
}

.container-contact .row{
    width: 100%;
    /* height: 100%; */
}


.container-infocontact-uno{
    background-image: url(../img/fondo\ ferreteria\ 1.jpg);
    background-position: center;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.title-h2{
    color: #302F2F;
    font-size: 3rem;
    text-align: center;
    padding: 30px;
}

.title-h3{
    color: #302F2F;
    font-size: 2rem;
    text-align: center;
    padding: 30px;
}

.title-h4{
    color: #302F2F;
    font-size: 1.4rem;
    text-align: center;
    padding: 30px;
}

.title-h5{
    color: #302F2F;
    font-size: 1.1rem;
    text-align: center;
    padding: 30px;
}

.container-infocontact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.telefono{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.telefono img{
    width: 50px;
    height: 50px;
} 

/* final del footer */
 
.footer{
    width: 100%;
    min-height: 300px;
    padding-top: 50px;
}

.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #9a9a9a;
    font-size: 1.2rem;
}

.footer-section > div{
    text-decoration: none;
    padding: 10px;
    color: #302F2F;
}

.footer-section > a{
    text-decoration: none;
    padding: 10px;
    color: #302F2F;
}
.footer-section div > a{
    text-decoration: none;
    padding: 10px;
    color: #302F2F;
}

.footer-section div{
    width: 200px;
}

.footer-section a:hover{
    transform: scale(1.2);
}

.footer-section div:hover{
    transform: scale(1.2);
}

.title-info-footer{
    background-color: #F46036;
    width: 300px;
    height: 50px;
    border-radius: 50px 0px 50px 50px;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    padding: 10px;
}

.copyright{
    font-size: 1rem;
    color: #000;
    text-align: center;
    margin: 30px;
}



/* PÁGINA NOSOTROS */

/* Sección título */

 .container-title-nosotros{
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

.section-title-nosotros{
    background-color: #3a3462;
    text-align: center;
    font-size: 2.2rem;
    color: #fff;
    padding-top: 200px;
}


/* informacion biografica */

.container-nosotros-grid{
    padding: 20px;
}

/* row 1 */

.info-section{
    font-size: 1.1rem;
}

.info-section h3{
    margin-bottom: 1rem;
}

.info-section h4{
    margin-bottom: 2rem;
}


.image-info-nosotros{
    max-width: 600px;
}

.image-info-nosotros img{
    width: 100%;
    border-radius: 20px;
}

/* row 2 */


/* contadores */

 .accountants-section{
    width: 80%;
    margin: 100px 10% 100px 10%;
    padding: 30px;
}



.accountant{
    width: 230px;
    height: 130px;
    background-color: #d9d9d9;
    border-radius: 30px;
    border: 2px solid #1B998B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-accountant h4{
    font-size: 2.5rem;
    color: #1B998B;
    text-align: center;
}

.info-accountant p{
    text-align: center;
    font-size: 1.2rem;
}




/* PÁGINA PRESUPUESTO */



form{
    padding: 80px 40px ;
    border-radius: 10px;
    width: 60vw;
    min-width: 300px;
    max-width: 700px;
    margin: 50px auto;
    background-color: #2E294E;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 300px;
}

fieldset{
    border: none;
    padding: 1rem 0;
}

  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea, .caja {
   
    border: none;
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2.5em;
    border-radius: 10px;
    font-size: 18px;
    color: #646464;
    padding: 10px;
  }

  
.objetivo{
  min-height: 3em;
}
 

  select{
margin: 10px 0;
width: 101%;
min-height: 2.5em;
border-radius: 5px;
border: none;
font-size: 18px;
color: #646464;
  }
  
  textarea{
    min-height: 3em;
  }

  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }

  .caja{
    width: 1vw;
  }


input[type="submit"]{
  display: block;
  width: 100%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.2rem;
  background-color: #F46036 ;
  color: #020202;
}

input[type="submit"]:hover{
    background-color: #E09F3E;
}



/* PÁGINAS SECCIONES */

.section-title-section{
    width: 100%;
    height: 200px;
    background-color: #eee;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section-title-section h1{
    font-size: 3rem;
    margin-left: 100px;
}

.productos-seccion{
    background-color: white;
    width: 100%;
    height: 80%;
    margin-bottom: 100px;
}

.card{
    margin-bottom: 50px;
}

.card-section{
    margin-bottom: 50px;
    margin-left: 20px;
}

.ftproductos{
    background: linear-gradient(180deg, #eee, #A9A9A9);
    box-shadow: 3px -5px 10px #d9d9d9;
}


/* PÁGINA UN PRODUCTO */




    .container-producto{
        width: 100%;
        margin-top: 5%;
    }
 
    .image-producto{
        width: 50%;
        margin: 0 auto;
    }

    .image-producto img{
        width: 100%;
    }

 
    .detalles-producto{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .detalles-producto h2{
        font-size: 2rem;
        padding: 10px;
        border-bottom: 1px solid #d9d9d9;
    }
    .detalles-producto h3{
        padding: 20px;
        font-size: 1.8rem;
        color: #1B998B;
    }
    .detalles-producto p{
        font-size: 2rem;
        margin-top: 10%;
        font-weight: 100;
    }

    .description-product{
        margin-left: 5%;
        margin-right: 5%;
    }

    .description-product h2{
        color: #1B998B;
        padding: 10px;
        margin-top: 5%;
        font-size: 2rem;
        border-bottom: 1px solid #d9d9d9;

    }
    .description-product p{
        margin-top: 5%;
        font-size: 1.5rem;
        margin-bottom: 50px;
    }

    .related-product{
        background-color: #eee;
        margin-bottom: 100px;
    } 




/* MEDIA QUERIES */


@media screen and (max-width:1200px) {
    
    /*Productos destacados */

    #productos{
        width: 100%;
        height: 2000px;
        background-color: #eee;
    }

    /* Seccion de informacion */


#informacion{
    width: 100%;
    height: 1500px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-info{
    background-color: white;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
}

.image-info-section{
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-section img{
    height: 350px;
    border-radius: 50px;
    padding: 20px;
   }

   /* Footer */

   .container-contact{
    display: none;
   }

   /* PÁGINA NOSOTROS */

   /* Banner */

.section-title-nosotros{
    padding-top: 100px;
    padding-bottom: 100px;
}

.image-title-nosotros{
    display: none;
}

.container-title-nosotros{
        height: 300px;
        margin-bottom: 0px;
}

/* Contadores */

.accountant{
    width: 180px;
    height: 120px;
   margin-top: 20px;
}


}




@media screen and (max-width:991px) {
    /* PÁGINA PRINCIPAL */

    /* Categorias */

    #categorias{
        width: 100%;
        min-height: 450px;
        padding-bottom: 250px;
    }
    
    .category-list .row{
    height: 400px;
    }

    /* Productos destacados */

    #productos{
        width: 100%;
        height: 2000px;
        background-color: #eee;
    }

    /* Footer */

    #contacto{
        width: 100%;
        min-height: 400px;
        background: linear-gradient(#fff,#A9A9A9 95%) ;  
    }
    
    .footer-section{
        border-bottom: 2px solid #9a9a9a;
        border-right: none;
    }

    /* PÁGINA NOSOTROS */

    /* Banner */

    
 .container-title-nosotros{
    height: 300px;
    margin-bottom: 0px;
}

    /* seccion de informacion biografica */

    .image-delete{
        display: none;
    }

    /* PÁGINA DE SECCIONES */

    .section-title-section{
        justify-content: center;
    }
    
    .section-title-section h1{
        font-size: 2.5rem;
        margin-left: 0px;
    }

}





@media screen and (max-width: 767px){
    
    /* Página principal */

    /* Navbar */

    .navbar-brand{
        display: none;
    }

    /* Banner */

.logo-banner{
    width: 300px;
    height: 300px;
}

.logo-banner img{
    width: 100%;
    height: 100%;
}

    /* Categorias */

 #categorias{
        width: 100%;
        min-height: 450px;
        padding-bottom: 550px;
    }

.category-list .row{
    height: 700px;
}

.sct{
    display: flex;
    justify-content: center;
}

    /* Productos destacados */

    #productos{
        width: 100%;
        height: 3800px;
        background-color: #eee;
    }

    /* Seccion de informacion */

    #informacion{
        height: 1400px;
    }
    
    .image-info-section{
        width: 80%;
    }
    
    .info-section img{
        height: 250px;
       }

       .title-info{
        background-color: #F46036;
        width: 200px;
        height: 40px;
        font-size: 1.4rem;
    }
    
    .slogan-info{
        font-size: 1.5rem;
        color: #302F2F;
    }
        
    .a-info{
        width: 300px;
        height: 80px;
        background-color: #1B998B;
        border-radius: 50px 50px 50px 0px;
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
        padding: 10px;
    } 
    
    /* Modos de pago */


#modosdepago{
    width: 100%;
    height: 1500px;
}

.container-modosdepago{
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
}

.modo{
    width: 100%;
}

    /* PÁGINA NOSOTROS */

    
.info-accountant h4{
    font-size: 2.1rem;
}

.info-accountant p{
    font-size: 1.1rem;
}

/* PÁGINA PRESUPUESTO */

/* Formulario */


form{
    width: 80vw;
}
} 

/* Samsung Galaxy A51/71 412px */

@media screen and (max-width: 413px) {
    

/* PÁGINA PRESUPUESTO */


form{
    width: 90vw;
}



/* PÁGINA SECCIONES */

.section-title-section h1{
    margin-left: 10%;
}

.ftproductos{
    height: 500px;
}

   
}

