
@import "../abstracts/variables";
@import "../abstracts/mixin";


// Banner 

#banner{
    width: 100%;
    max-height: 540px;
    background-image: url(../../assets/img/fondo-del-banner.webp);
    background-size: 110%;
    background-position: center; 
} 

// Categorías 

#categorias{
    width: 100%;
    min-height: 450px;
    padding-bottom: 100px;
        .title-section{
        display: block;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: map-get($colores, colortexto);
        padding: 50px;
    }
        .category-list{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
            .category{
        background-color:  map-get($colores, grisoscuro);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-right: 20px;   
        &:hover{
            background-color: map-get($colores, verde);
            transform: scale(1.2);
        }
        & img{
            width: 60%;
            height: 60%;
            position: relative;
            left: 20%;
            top: 20%;
        } 
        & h3{
            margin-top: 60px;
            text-align: center;
            font-size:1.1rem ;
            font-weight: bold;
        }
    }

    }

}
 

// Productos destacados 

#productos{
    width: 100%;
    height: 1100px;
    background-color: map-get($colores, grisclaro);
    .title-section{
        display: block;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color:  map-get($colores, colortexto);
        padding: 50px;
    }

    // Cards 

    @include tarjeta;
}





// Sección de información 

#nosotros{
    width: 100%;
    height: 800px;
    background-color: map-get($colores, blanco);
    display: flex;
    align-items: center;
    justify-content: center;
    .container-info{
        background-color: map-get($colores, blanco);
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: space-evenly;
        .info-section{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            .title-info{
                background-color: map-get($colores, naranja);
                width: 350px;
                height: 60px;
                border-radius: 50px 0px 50px 50px;
                color: map-get($colores, blanco);
                font-size: 2rem;
                text-align: center;
                padding: 10px;
            }
            .slogan-info{
                font-size: 2.5rem;
                color: map-get($colores, colortexto);
            }
            .info-info{
                display: block;
                font-size: 18px;
                margin: 0 auto;
                & li{
                    text-align: start;
                    list-style: disc;
                }
            }
            .image-info-section{
                width: 50%;
                height: 350px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                & img{
                    height: 350px;
                    border-radius: 50px;
                    padding: 20px;
                   }
            }
            .a-info{
                width: 450px;
                height: 60px;
                background-color: map-get($colores, verde);
                border-radius: 50px 50px 50px 0px;
                color: map-get($colores, blanco);
                font-size: 2rem;
                text-align: center;
                padding: 10px;
                & a{
                    text-decoration: none;
                    color: map-get($colores, blanco);
                }
                &:hover{
                    background-color: map-get($colores, verde);
                    transform: scale(1.05);
                } 
            }
        }
    }
}


// Modos de pago


#modosdepago{
    width: 100%;
    height: 600px;
    border-top: 2px solid map-get($colores, grisclaro);
    border-bottom: 2px solid map-get($colores, grisclaro);
    background-color: map-get($colores, blanco);
    .container-modosdepago{
        width: 100%;
        height: 400px;
        background-color: map-get($colores, blanco);
        .modo{
            width: 200px;
            height: 200px;
            & img{
                width: 100%;
                height: 100%;
            }
            & h3{
                font-size: 2rem;
                text-align: center;
            } 
        }
    }
}