
@import "../abstracts/variables";
@import "../abstracts/mixin";

// PÁGINAS SECCIONES 


.section-title-section{
    width: 100%;
    height: 200px;
    background-color: map-get($colores, grisclaro);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & h1{
        font-size: 3rem;
        margin-left: 100px;
    }
}

.productos-seccion{
    background-color: map-get($colores, blanco);
    width: 100%;
    height: 80%;
    margin-bottom: 100px;
    .card{
        margin-bottom: 50px;
    }
    @include tarjeta;
}

@import "../components/footer-section";

