
// MAPAS

$colores:(
    lila: #3a3462,
    naranja: #F46036,
    verde: #1B998B,
    negro: #000,
    blanco: #fff,
    grisclaro: #eee,
    grismedio: #d9d9d9,
    grisoscuro: #A9A9A9,
    colortexto: #302F2F,
);